<section class="navigation_bar">
    <nav class="container">
        <div class="brand"><a routerLink="/"><img src="../assets/img/logo/shivajiLogo.png" alt=""></a></div>
        <ul class="nav_list">
            <li class="nav_item"><a href="">Create Employee</a></li>
            <li class="nav_item"><a href="">Search Employee</a></li>
        </ul>
    </nav>
</section>

<section class="navigation_bar_mobile">
    <div class="create_Emp"><ion-icon name="person-add-outline"></ion-icon> <p>Create EMP</p></div>
    <div class="Search_Emp"><ion-icon name="search-circle-outline"></ion-icon> <p>Search EMP</p></div>
</section>
<body>
    <router-outlet></router-outlet>
</body>
