

<div class="dropdown perticular_index">
    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#shirt" class="perticulars-name" style="background-color: rgb(247, 186, 186);">shirt</a>
      <a href="#trouser" class="perticulars-name" style="background-color: rgb(252, 250, 162);">Trouser</a>
      <a href="#suit" class="perticulars-name" style="background-color: rgb(184, 185, 250);">Suit</a>
      <a href="#bandi" class="perticulars-name" style="background-color: rgb(197, 255, 182);">Bandi</a>
      <a href="#safari" class="perticulars-name" style="background-color: rgb(182, 255, 215);">Safari</a>
      <a href="#kurta" class="perticulars-name" style="background-color: rgb(221, 181, 240);">Kurta</a>
      <a href="#pyjama" class="perticulars-name" style="background-color: rgb(250, 184, 222);">Pyjama</a>
    </div>
  </div>

  <section class="measurement">
    <div class="measurement-edit">
      <div class="measurement_list">
        <div id="shirt" class="shirt">
          <h4 class="perticulars-name" style="background-color: rgb(247, 186, 186);">Shirt</h4>
         
          <div class="shirt_length measurement_list_items border_bottom ">

            <label for="">Length</label>
            <input type="number" id="shlened">
          </div>



          <div class="shirt_sholder measurement_list_items border_bottom">

            <label for="">Sholder</label>
            <input type="text" id="shshlded">
          </div>


          <label
            style="background-color: beige; border: 1px solid black; padding: 2px;color: black; border-radius: 5px;"
            for="">Arm</label>
          <div class="arm measurement_list_items border_bottom ">


            <div class="full_arm">
              <label for="">Full</label>
              <input type="text" id="sharmF1ed">
              <input type="text" id="sharmF2ed">
              <input type="text" id="sharmF3ed">
              <input type="text" id="sharmF4ed">
            </div>
            <div class="half_arm">
              <label for="">Half</label>
              <input type="text" id="sharmH1ed">
              <input type="text" id="sharmH2ed">

            </div>
          </div>

          <div class="shirt_chest measurement_list_items border_bottom">

            <label for="">Chest</label>
            <input type="text" id="shchsted">
          </div>

          <div class="shirt_collar measurement_list_items border_bottom">

            <label for="">collar</label>
            <input type="text" id="shcoled">
          </div>

          <div class="rf ">
            <label for="">RF</label>
            <span class="measurement_list_items ">
              <input type="text" id="shrf1ed">
              <input type="text" id="shrf2ed">
              <input type="text" id="shrf3ed">
              <input type="text" id="shrf4ed">
            </span>
          </div>



        </div>

        <div class="trouser" id="trouser">

          <h4 class="perticulars-name" style="background-color: rgb(252, 250, 162);">Trouser</h4>

          <div class="pant_lenght measurement_list_items border_bottom">

            <label for="">Length</label>
            <input type="text" id="pntlened">
          </div>
          <div class="pant_waist measurement_list_items border_bottom">

            <label for="">Waist</label>
            <input type="text" id="pntwaisted">
          </div>
          <div class="pant_hip measurement_list_items border_bottom">

            <label for="">Hip</label>
            <input type="text" id="pnthiped">
          </div>
          <div class="pant_fork measurement_list_items border_bottom">

            <label for="">Fork</label>
            <input type="text" id="pntforked">
          </div>
          <div class="pant_bottom measurement_list_items border_bottom">

            <label for="">Bottom</label>
            <input type="text" id="pntbtmed">
          </div>
          <div class="pant_rt_nee measurement_list_items border_bottom">

            <label for="">RT</label>
            <input type="text" id="pntrted">
            <label for="">NEE</label>
            <input type="text" id="pntneeed">
          </div>

        </div>


        <div id="suit" class="suit">
          <h4 class="perticulars-name" style="background-color: rgb(184, 185, 250);">Suit</h4>
          <div class="suit_length measurement_list_items border_bottom">

            <label for="">Length</label>
            <input type="text" id="sulened">
          </div>



          <div class="suit_sholder measurement_list_items border_bottom">

            <label for="">Sholder</label>
            <input type="text" id="sushlded">
          </div>


          <label
            style="background-color: beige; border: 1px solid black; padding: 2px;color: black; border-radius: 5px;"
            for="">Arm</label>
          <div class="arm  measurement_list_items">


            <div class="full_arm">
              <label for="">Full</label>
              <input type="text" id="suarmF1ed">
              <input type="text" id="suarmF2ed">
              <input type="text" id="suarmF3ed">
              <input type="text" id="suarmF4ed">
            </div>
            <div class="half_arm">
              <label for="">Half</label>
              <input type="text" id="suarmH1ed">
              <input type="text" id="suarmH2ed">

            </div>
          </div>

          <div class="suit_chest measurement_list_items border_bottom">

            <label for="">Chest</label>
            <input type="text" id="suchsted">
          </div>

          <div class="suit_collar measurement_list_items border_bottom">

            <label for="">collar</label>
            <input type="text" id="sucoled">
          </div>

          <div class="rf ">
            <label for="">RF</label>
            <span class="measurement_list_items">
              <input type="text" id="surf1ed">
              <input type="text" id="surf2ed">
              <input type="text" id="surf3ed">
              <input type="text" id="surf4ed">
            </span>
          </div>

        </div>
        <div id="bandi" class="bandi">
          <h4 class="perticulars-name" style="background-color: rgb(197, 255, 182);">Bandi</h4>
          <div class="bandi_length measurement_list_items border_bottom ">

            <label for="">Length</label>
            <input type="text" id="bunlened">
          </div>



          <div class="bandi_sholder measurement_list_items border_bottom">

            <label for="">Sholder</label>
            <input type="text" id="bunshlded">
          </div>





          <div class="bandi_chest measurement_list_items border_bottom">

            <label for="">Chest</label>
            <input type="text" id="bunchsted">
          </div>

          <div class="bandi_collar measurement_list_items border_bottom">

            <label for="">collar</label>
            <input type="text" id="buncoled">
          </div>

          <div class="rf ">
            <label for="">RF</label>
            <span class="measurement_list_items ">
              <input type="text" id="bunrf1ed">
              <input type="text" id="bunrf2ed">
              <input type="text" id="bunrf3ed">
              <input type="text" id="bunrf4ed">
            </span>
          </div>

        </div>
        <div id="safari" class="safari">
          <h4 class="perticulars-name" style="background-color: rgb(182, 255, 215);">Safari</h4>
          <div class="safari_length measurement_list_items border_bottom">

            <label for="">Length</label>
            <input type="text" id="saflened">
          </div>



          <div class="safari_sholder measurement_list_items border_bottom">

            <label for="">Sholder</label>
            <input type="text" id="safshlded">
          </div>


          <label
            style="background-color: beige; border: 1px solid black; padding: 2px;color: black; border-radius: 5px;"
            for="">Arm</label>
          <div class="arm border_bottom measurement_list_items">


            <div class="full_arm">
              <label for="">Full</label>
              <input type="text" id="safarmF1ed">
              <input type="text" id="safarmF2ed">
              <input type="text" id="safarmF3ed">
              <input type="text" id="safarmF4ed">
            </div>
            <div class="half_arm">
              <label for="">Half</label>
              <input type="text" id="safarmH1ed">
              <input type="text" id="safarmH2ed">

            </div>
          </div>

          <div class="safari_chest measurement_list_items border_bottom">

            <label for="">Chest</label>
            <input type="text" id="safchsted">
          </div>

          <div class="safari_collar measurement_list_items border_bottom">

            <label for="">collar</label>
            <input type="text" id="safcoled">
          </div>

          <div class="rf ">
            <label for="">RF</label>
            <span class="measurement_list_items">
              <input type="text" id="safrf1ed">
              <input type="text" id="safrf2ed">
              <input type="text" id="safrf3ed">
              <input type="text" id="safrf4ed">
            </span>
          </div>

        </div>
        <div id="kurta" class="kurta">
          <h4 class="perticulars-name" style="background-color: rgb(221, 181, 240);">Kurta</h4>
          <div class="kurta_length measurement_list_items border_bottom ">

            <label for="">Length</label>
            <input type="text" id="kurlened">
          </div>



          <div class="kurta_sholder measurement_list_items border_bottom">

            <label for="">Sholder</label>
            <input type="text" id="kurshlded">
          </div>

          <label
            style="background-color: beige; border: 1px solid black; padding: 2px;color: black; border-radius: 5px;"
            for="">Arm</label>
          <div class="arm border_bottom measurement_list_items ">


            <div class="full_arm">
              <label for="">Full</label>
              <input type="text" id="kurarmF1ed">
              <input type="text" id="kurarmF2ed">
              <input type="text" id="kurarmF3ed">
              <input type="text" id="kurarmF4ed">
            </div>
            <div class="half_arm">
              <label for="">Half</label>
              <input type="text" id="kurarmH1ed">
              <input type="text" id="kurarmH2ed">

            </div>
          </div>




          <div class="kurta_chest measurement_list_items border_bottom">

            <label for="">Chest</label>
            <span class="measurement_list_items ">
              <input type="text" id="kurchst1ed">
              <input type="text" id="kurchst2ed">
              <input type="text" id="kurchst3ed">

            </span>
          </div>

          <div class="kurta_collar measurement_list_items border_bottom">

            <label for="">collar</label>
            <input type="text" id="kurcoled">
          </div>



        </div>
        <div class="pyjama" id="pyjama">

          <h4 class="perticulars-name" style="background-color: rgb(250, 184, 222);">Pyjama</h4>

          <div class="pyjama_lenght measurement_list_items border_bottom">

            <label for="">Length</label>
            <input type="text" id="pyjmlened">
          </div>
          <div class="pyjama_waist measurement_list_items border_bottom">

            <label for="">Waist</label>
            <input type="text" id="pyjmwaisted">
          </div>
          <div class="pyjama_hip measurement_list_items border_bottom">

            <label for="">Hip</label>
            <input type="text" id="pyjmhiped">
          </div>
          <div class="pyjama_fork measurement_list_items border_bottom">

            <label for="">Fork</label>
            <input type="text" id="pyjmforked">
          </div>
          <div class="pyjama_bottom measurement_list_items border_bottom">

            <label for="">Bottom</label>
            <input type="text" id="pyjmbtmed">
          </div>
          <div class="pyjama_rt_nee measurement_list_items border_bottom">

            <label for="">RT</label>
            <input type="text" id="pyjmrted">
            <label for="">NEE</label>
            <input type="text" id="pyjmneeed">
          </div>

        </div>
      </div>
      <button class="submit_btn" type="submit">Save</button>
    </div>

    <div class="measurement-display">

      <div class="customer_description">
        <span class="cust_ord_no">001</span>
        <span class="cust_name">Salman</span> 
        <span class="cust_phno">9035362642</span>
      </div>

      <div class="measurement-display-by-perticulars">

     
          <div class="shirtM topM">
            <label for="">Shirt</label>
            <span id="shlen">-</span>
            <span id="shshld">-</span>
            <span id="sharm">
              <div id="sharm1">-</div>
              <hr>
              <div id="sharm2">-</div>
              <hr>
              <div id="sharm3">-</div>
              <hr>
              <div id="sharm4">-</div>
  
            </span>
            <span id="shchst">-</span>
            <span id="shcol">-</span>
  
            <span style="display:flex;" id="shrf">
              <label style="margin:0 5px; border: 1px solid black;" for="">RF</label>
  
              <div id="shrf">
                <div id="shrf1">-</div>
                <hr>
                <div id="shrf2">-</div>
                <hr>
                <div id="shrf3">-</div>
                <hr>
                <div id="shrf4">-</div>
              </div>
            </span>
            
            
          </div>
        



        <div class="trouserM topM">
          <label for="">Pant</label>
          <span id="pntlen">-</span>
          <span id="pntwaist">-</span>
          <span id="pnthip">-</span>
          <span id="pntfork">-</span>
          <span id="pntbtm">-</span>
          <div class="pntThigh d-flex flex-column">
            <div class="pntrtspace d-flex">
              <label for="">RT</label>
              <span id="pntrt">-</span>
            </div>
            <div class="pntneespace d-flex">
              <label for=""> NEE</label>
              <span id="pntnee">-</span>
            </div>
          </div>
        </div>


        <div class="suitM topM">
          <label for="">Suit</label>
          <span id="sulen">-</span>
          <span id="sushld">-</span>
          <span id="suarm">
            <div id="suarm1">-</div>
            <hr>
            <div id="suarm2">-</div>
            <hr>
            <div id="suarm3">-</div>
            <hr>
            <div id="suarm4">-</div>

          </span>
          <span id="suchst">-</span>
          <span id="sucol">-</span>

          <span style="display:flex;" id="surf">
            <label style="margin:0 5px; border: 1px solid black;" for="">RF</label>

            <div id="surf">
              <div id="surf1">-</div>
              <hr>
              <div id="surf2">-</div>
              <hr>
              <div id="surf3">-</div>
              <hr>
              <div id="surf4">-</div>
            </div>
          </span>

        </div>

        <div class="bandiM topM">
          <label for="">Bandi</label>
          <span id="bunlen">-</span>
          <span id="bunshld">-</span>

          <span id="bunchst">-</span>
          <span id="buncol">-</span>

          <span style="display:flex;" id="bunrf">
            <label style="margin:0 5px; border: 1px solid black;" for="">RF</label>

            <div id="bunrf">
              <div id="bunrf1">-</div>
              <hr>
              <div id="bunrf2">-</div>
              <hr>
              <div id="bunrf3">-</div>
              <hr>
              <div id="bunrf4">-</div>
            </div>
          </span>

        </div>


        <div class="safariM topM">
          <label for="">Safari</label>
          <span id="saflen">-</span>
          <span id="safshld">-</span>
          <span id="safarm">
            <div id="safarm1">-</div>
            <hr>
            <div id="safarm2">-</div>
            <hr>
            <div id="safarm3">-</div>
            <hr>
            <div id="safarm4">-</div>

          </span>
          <span id="safchst">-</span>
          <span id="safcol">-</span>

          <span style="display:flex;" id="safrf">
            <label style="margin:0 5px; border: 1px solid black;" for="">RF</label>

            <div id="safrf">
              <div id="safrf1">-</div>
              <hr>
              <div id="safrf2">-</div>
              <hr>
              <div id="safrf3">-</div>
              <hr>
              <div id="safrf4">-</div>
            </div>
          </span>

        </div>


        <div class="kurtaM topM">
          <label for="">Kurta</label>
          <span id="kurlen">-</span>
          <span id="kurshld">-</span>
          <span id="kurarm">
            <div id="kurarm1">-</div>
            <hr>
            <div id="kurarm2">-</div>
            <hr>
            <div id="kurarm3">-</div>
            <hr>
            <div id="kurarm4">-</div>

          </span>
          <span id="kurchst">
            <div id="kurchst1">-</div>
            <div id="kurchst2">-</div>
            <div id="kurchst3">-</div>

          </span>
          <div id="kurcol">-</div>






        </div>

        <div class="pyjamaM topM">
          <label for="">Pyjama</label>
          <span id="pyjmlen">-</span>
          <span id="pyjmwaist">-</span>
          <span id="pyjmhip">-</span>
          <span id="pyjmfork">-</span>
          <span id="pyjmbtm">-</span>
          <div class="pyjmThigh d-flex flex-column">
            <div class="pyjmrtspace d-flex">
              <label for="">RT</label>
              <span id="pyjmtrt">-</span>
            </div>
            <div class="pyjmneespace d-flex">
              <label for=""> NEE</label>
              <span id="pyjmnee">-</span>
            </div>
          </div>
        </div>


      </div>



    </div>



  </section>

  <div class="nav_index ">
    <a class="measurement_nav a bg-info" href="#"><img title="Measurement" src="../../assets/img/tape-measure.png"
        alt=""> </a>

    <a class="bill_nav a bg-info" href="#"><img title="Bill" style="padding: 8px;" src="../../assets/img//bill.png"
        alt=""> </a>



    <a class="home_nav a bg-info" href="#"><img title="Home" src="../../assets/img//home.png" alt=""> </a>