<div class="customer_description container">
  <span class="cust_ord_no"> {{custresult.order_number}}</span>
  <span class="cust_name">{{custresult.cust_name}}</span>
  <span class="cust_phno">{{custresult.mobile}}</span>
</div>


<div class="nav_index ">
  <!-- <a class="edit-measurement_nav a bg-info" href="/editMeasurement">
    <img title="Edit Measurement" src="../../assets/img//edit.png" alt=""> </a>

    <a class="bill_nav a bg-info" href="#"><img title="Bill" style="padding: 
      8px;" src="../../assets/img//bill.png" alt=""></a> -->

  <div class="display_measurement">
    <span class="perticulat_tag">SH :- </span>
    <span class="length">{{result.length}}</span>
    <span class="sholder">{{result.sholder}}</span>
    <span class="arm">
      <span class="arm_length">{{result.arm_length}}</span>
      <span>--</span>
      <span class="arm_width">{{result.arm_width}}</span>
      <span>--</span>
      <span class="arm_bottom_width">{{result.arm_bottom_width}}</span>
      <span>--</span>
      <span class="cuff">{{result.cuff}}</span>
    </span>
    <span class="chest">{{result.chest}}</span>
    <span class="collar">{{result.collar}}</span>
    <span class="rf">
      <span class="rf1">{{result.rf1}}</span>
      <span>--</span>
      <span class="rf2">{{result.rf2}}</span>
      <span>--</span>
      <span class="rf3">{{result.rf3}}</span>
      <span>--</span>
      <span class="rf4">{{result.rf4}}</span>

    </span>
  </div>



  <!-- <a class="home_nav a bg-info" href="#">
    <img title="Home" src="../../assets/img/home.png" alt=""> </a> -->


  <!-- <div style="background-color: red;">
    This Order Number not found

    <p>testing</p>
  </div> -->


</div>

<!-- {{result | json}} -->
<!-- {{custresult | json}} -->